################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SkillTracker/v16/.suo
/SkillTracker.API/bin/Debug/netcoreapp3.1
/SkillTracker.API/obj/Debug/netcoreapp3.1
/SkillTracker.API/obj
/SkillTracker.API.Test/bin/Debug/netcoreapp3.1
/SkillTracker.API.Test/obj/Debug/netcoreapp3.1
/SkillTracker.API.Test/obj
/SkillTracker.Core/bin/Debug/netcoreapp3.1
/SkillTracker.Core/obj/Debug/netcoreapp3.1
/SkillTracker.Core/obj
/SkillTracker.Core.Test/obj
/SkillTracker.Core.Test/bin/Debug/netcoreapp3.1
/SkillTracker.Domain/obj
/SkillTracker.Domain/bin/Debug/netcoreapp3.1
/SkillTracker.WebAPI/bin/Debug/netcoreapp3.1
/SkillTracker.Shared/obj
/SkillTracker.Shared/bin/Debug/netcoreapp3.1
/SkillTracker.RabbitMQ.Receive/obj
/SkillTracker.RabbitMQ.Receive/bin/Debug/netcoreapp3.1
/SkillTracker.RabbitMQ.publish/obj
/SkillTracker.RabbitMQ.publish/bin/Debug/netcoreapp3.1
/SkillTracker.InfraStructure.Test/obj
/SkillTracker.InfraStructure.Test/bin/Debug/netcoreapp3.1
/SkillTracker.InfraStructure/obj
/SkillTracker.InfraStructure/bin/Debug/netcoreapp3.1
/SkillTracker.Gateway.WebApi/obj
/SkillTracker.Gateway.WebApi/bin/Debug/netcoreapp3.1
/SkillTracker.WebAPI/obj
/SkillTrackerAPI.Messaging.Receive/obj
/SkillTrackerAPI.Messaging.Receive/bin/Debug/netcoreapp3.1
/.vs/SkillTracker/config/applicationhost.config
/.vs/SkillTracker/DesignTimeBuild/.dtbcache.v2
/SkillTracker.WebAPI/SkillTracker.WebAPI.csproj.user
